Repository NextNodeSolutions/config-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

.lintstagedrc.json:

{
	"!(src/config/__test-fixtures__/generated-types.d.ts|src/config/generate-types.cjs)*.{js,jsx,ts,tsx}": [
		"pnpm lint:fix"
	],
	"*.{js,jsx,ts,tsx,json,jsonc,md}": [
		"biome check --write --no-errors-on-unmatched --staged"
	],
	"package.json": ["better-sort-package-json"]
}

refactor(autotypes): simplify and optimize type generation system
  src/config/auto-types.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix(autotypes): prevent auto-generation in functions-server package
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/config/auto-types.ts
  tsconfig.eslint.json
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

docs: comprehensive README update showcasing automatic type generation
  README.md
Due: biome check --write --no-errors-on-unmatched --staged

fix: resolve ESLint warnings in config type generation script
  .lintstagedrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/config/generate-types.js
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Add configuration management system to server library (#5)
  .changeset/add-configuration-system.md
  .lintstagedrc.json
  README.md
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/config/README.md
  src/config/__test-fixtures__/default.json
  src/config/__test-fixtures__/dev.json
  src/config/__test-fixtures__/generated-types.d.ts
  src/config/__test-fixtures__/invalid.json
  src/config/__test-fixtures__/not-object.json
  src/config/__test-fixtures__/prod.json
  src/config/__test-fixtures__/test.json
  src/config/auto-types.ts
  src/config/constants.ts
  src/config/errors.spec.ts
  src/config/errors.ts
  src/config/generate-types.js
  src/config/index.spec.ts
  src/config/index.ts
  src/config/integration.spec.ts
  src/config/loader.spec.ts
  src/config/loader.ts
  src/config/manager.ts
  src/config/types.ts
  src/config/utils.spec.ts
  src/config/utils.ts
  src/formatting/date.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix(changeset): correct repository configuration
  .changeset/config.json
Due: biome check --write --no-errors-on-unmatched --staged

feat: add micro changeset to satisfy CI requirements
  .changeset/pink-moments-chew.md
Due: biome check --write --no-errors-on-unmatched --staged

Fix changeset repository reference for correct changelog generation (#6)
  .changeset/config.json
  .changeset/pink-moments-chew.md
Due: biome check --write --no-errors-on-unmatched --staged

Version Packages (#7)
  .changeset/add-configuration-system.md
  .changeset/hungry-candies-hope.md
  .changeset/pink-moments-chew.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: add project documentation and improve configuration
  .gitignore
  CLAUDE.md
  src/config/index.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: improve NPM package publishing and security
  package.json
  src/config/auto-types.ts
  src/config/generate-types.d.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: untrack generated test types file
  .gitignore
Due: none

fix: exclude invalid test files from type generation
  src/config/generate-types.js
Due: biome check --write --no-errors-on-unmatched --staged

chore: add changeset for type generation fix
  .changeset/type-generation-fix.md
Due: biome check --write --no-errors-on-unmatched --staged

Fix configuration type generation and package publishing issues (#8)
  .changeset/type-generation-fix.md
  CLAUDE.md
  package.json
  src/config/auto-types.ts
  src/config/generate-types.d.ts
  src/config/generate-types.js
  src/config/index.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#9)
  .changeset/type-generation-fix.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: enhance CI/CD workflows with comprehensive quality gates
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: use standard action versions and remove excessive permissions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

feat: complete CI/CD pipeline enhancement with quality gates
  .github/workflows/release.yml
  .github/workflows/test.yml
  CLAUDE.md
Due: biome check --write --no-errors-on-unmatched --staged

fix: resolve all TypeScript type-check errors in config system
  src/config/errors.ts
  src/config/loader.spec.ts
  src/config/manager.ts
  src/config/types.ts
  src/config/utils.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged

refactor: improve CI/CD configuration and formatting consistency
  eslint.config.mjs
  package.json
  src/config/__test-fixtures__/default.json
  src/config/__test-fixtures__/dev.json
  src/config/__test-fixtures__/not-object.json
  src/config/__test-fixtures__/prod.json
  src/config/__test-fixtures__/test.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: clean up config system and fix TypeScript errors
  src/config/__test-fixtures__/generated-types.d.ts
  src/config/generate-types.d.ts
  src/config/generate-types.js
  src/config/index.spec.ts
  src/config/integration.spec.ts
  src/config/loader.spec.ts
  src/config/manager.ts
  src/config/types.ts
  src/config/utils.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged

feat: add detailed ConfigurationPathError with structured debug info
  src/config/errors.ts
  src/config/index.spec.ts
  src/config/index.ts
  src/config/manager.ts
Due: biome check --write --no-errors-on-unmatched --staged

refactor: restructure config module for improved readability and maintainability
  src/config/core/loader.ts
  src/config/core/manager.ts
  src/config/core/type-generator.ts
  src/config/definitions/constants.ts
  src/config/definitions/errors.ts
  src/config/definitions/types.ts
  src/config/errors.spec.ts
  src/config/index.spec.ts
  src/config/index.ts
  src/config/loader.spec.ts
  src/config/utils.spec.ts
  src/config/utils.ts
  src/config/utils/helpers.ts
  src/config/utils/validation.ts
  src/formatting/date.ts
  src/index.ts
Due: biome check --write --no-errors-on-unmatched --staged

chore: add changeset for config module restructuring
  .changeset/config-restructure.md
Due: biome check --write --no-errors-on-unmatched --staged

Enhance CI/CD pipeline with comprehensive quality gates and testing (#10)
  .changeset/config-restructure.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  CLAUDE.md
  eslint.config.mjs
  package.json
  src/config/__test-fixtures__/default.json
  src/config/__test-fixtures__/dev.json
  src/config/__test-fixtures__/generated-types.d.ts
  src/config/__test-fixtures__/not-object.json
  src/config/__test-fixtures__/prod.json
  src/config/__test-fixtures__/test.json
  src/config/core/loader.ts
  src/config/core/manager.ts
  src/config/core/type-generator.ts
  src/config/definitions/constants.ts
  src/config/definitions/errors.ts
  src/config/definitions/types.ts
  src/config/errors.spec.ts
  src/config/generate-types.d.ts
  src/config/generate-types.js
  src/config/index.spec.ts
  src/config/index.ts
  src/config/integration.spec.ts
  src/config/loader.spec.ts
  src/config/utils.spec.ts
  src/config/utils.ts
  src/config/utils/helpers.ts
  src/config/utils/validation.ts
  src/formatting/date.ts
  src/index.ts
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.vitest.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#11)
  .changeset/config-restructure.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat!: add changeset for major transformation to config-manager
  .changeset/config.json
  .changeset/major-transform-to-config-manager.md
  .lintstagedrc.json
  CLAUDE.md
  README.md
  package.json
  src/README.md
  src/__test-fixtures__/default.json
  src/__test-fixtures__/dev.json
  src/__test-fixtures__/generated-types.d.ts
  src/__test-fixtures__/invalid.json
  src/__test-fixtures__/not-object.json
  src/__test-fixtures__/prod.json
  src/__test-fixtures__/test.json
  src/config/__test-fixtures__/generated-types.d.ts
  src/config/index.ts
  src/core/loader.ts
  src/core/manager.ts
  src/core/type-generator.ts
  src/definitions/constants.ts
  src/definitions/errors.ts
  src/definitions/types.ts
  src/errors.spec.ts
  src/formatting/date.spec.ts
  src/formatting/date.ts
  src/generate-types.js
  src/index.spec.ts
  src/index.ts
  src/integration.spec.ts
  src/loader.spec.ts
  src/utils.spec.ts
  src/utils/helpers.ts
  src/utils/validation.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat!: add changeset for major transformation to config-manager (#12)
  .changeset/config.json
  .changeset/major-transform-to-config-manager.md
  .lintstagedrc.json
  CLAUDE.md
  README.md
  package.json
  src/README.md
  src/__test-fixtures__/default.json
  src/__test-fixtures__/dev.json
  src/__test-fixtures__/generated-types.d.ts
  src/__test-fixtures__/invalid.json
  src/__test-fixtures__/not-object.json
  src/__test-fixtures__/prod.json
  src/__test-fixtures__/test.json
  src/config/__test-fixtures__/generated-types.d.ts
  src/config/index.ts
  src/core/loader.ts
  src/core/manager.ts
  src/core/type-generator.ts
  src/definitions/constants.ts
  src/definitions/errors.ts
  src/definitions/types.ts
  src/errors.spec.ts
  src/formatting/date.spec.ts
  src/formatting/date.ts
  src/generate-types.js
  src/index.spec.ts
  src/index.ts
  src/integration.spec.ts
  src/loader.spec.ts
  src/utils.spec.ts
  src/utils/helpers.ts
  src/utils/validation.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#13)
  .changeset/major-transform-to-config-manager.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: repair ESM imports and implement automatic type generation
  package.json
  src/core/loader.ts
  src/core/manager.ts
  src/core/type-generator.ts
  src/definitions/errors.ts
  src/errors.spec.ts
  src/generate-types.js
  src/index.spec.ts
  src/index.ts
  src/integration.spec.ts
  src/loader.spec.ts
  src/utils.spec.ts
  src/utils/helpers.ts
  src/utils/validation.ts
  tsconfig.build.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: remove redundant auto-generation from ensureGlobalLoader
  .changeset/fix-esm-and-bin.md
  package.json
  src/core/manager.ts
  src/generate-types.js
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: simplify generate-types.js to single purpose
  src/generate-types.js
Due: biome check --write --no-errors-on-unmatched --staged

fix: restore generateConfigTypes export for internal use
  src/generate-types.js
Due: biome check --write --no-errors-on-unmatched --staged

fix: restore clean tsconfig.build.json like logger
  tsconfig.build.json
Due: biome check --write --no-errors-on-unmatched --staged

Fix ESM imports and enable automatic type generation from configs (#14)
  .changeset/fix-esm-and-bin.md
  package.json
  src/core/loader.ts
  src/core/manager.ts
  src/core/type-generator.ts
  src/definitions/errors.ts
  src/errors.spec.ts
  src/generate-types.js
  src/index.spec.ts
  src/index.ts
  src/integration.spec.ts
  src/loader.spec.ts
  src/utils.spec.ts
  src/utils/helpers.ts
  src/utils/validation.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#15)
  .changeset/fix-esm-and-bin.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: enhance type generation display messages
  src/__test-fixtures__/dev.json
  src/__test-fixtures__/generated-types.d.ts
  src/__test-fixtures__/prod.json
  src/__test-fixtures__/test.json
  src/config-consistency.spec.ts
  src/core/type-generator.ts
  src/generate-types.js
  src/index.spec.ts
  src/integration.spec.ts
  src/type-generation.spec.ts
Due: biome check --write --no-errors-on-unmatched --staged

feat: implement exact union types and configuration consistency validation
  src/core/type-generation-utils.ts
  src/test-helpers.ts
  src/utils/type-helpers.ts
Due: biome check --write --no-errors-on-unmatched --staged
