Repository NextNodeSolutions/config-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

.lintstagedrc.json:

{
	"!(src/__test-fixtures__/generated-types.d.ts)*.{js,jsx,ts,tsx}": [
		"pnpm lint:fix"
	],
	"*.{js,jsx,ts,tsx,jsonc,md}": [
		"biome check --write --no-errors-on-unmatched --staged"
	],
	"!(src/__test-fixtures__/invalid.json)*.json": [
		"biome check --write --no-errors-on-unmatched --staged"
	],
	"package.json": ["better-sort-package-json"]
}

fix: silence debug messages during test execution
  src/lib/types/generator.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged

chore: add changeset for debug message silence fix
  .changeset/silence-test-debug.md
Due: biome check --write --no-errors-on-unmatched --staged

chore: replace changeset with comprehensive feature documentation
  .changeset/major-union-types-feature.md
  .changeset/silence-test-debug.md
Due: biome check --write --no-errors-on-unmatched --staged

feat!: implement Prisma-style type generation with ConfigSchema architecture
  src/__tests__/fixtures/configs/generated-types.d.ts
  src/__tests__/integration/type-generation.spec.ts
  src/lib/config/index.ts
  src/lib/config/manager.ts
  src/lib/definitions/index.ts
  src/lib/definitions/types.ts
  src/lib/types/generator.ts
  src/lib/types/inference.ts
Due: biome check --write --no-errors-on-unmatched --staged

chore: update changeset to reflect major version with comprehensive breaking changes
  .changeset/major-union-types-feature.md
  src/__tests__/fixtures/index.ts
  src/cli/index.ts
Due: biome check --write --no-errors-on-unmatched --staged

refactor: eliminate dead code and optimize codebase architecture
  package.json
  pnpm-lock.yaml
  src/__tests__/integration/type-generation.spec.ts
  src/__tests__/unit/utils/utils.spec.ts
  src/lib/config/index.ts
  src/lib/config/manager.ts
  src/lib/types/inference.ts
  src/lib/utils/helpers.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#17)
  .changeset/major-union-types-feature.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Fix TypeScript path resolution in build output with tsc-alias
  .changeset/fix-typescript-path-resolution.md
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Fix TypeScript path resolution in build output with tsc-alias (#18)
  .changeset/fix-typescript-path-resolution.md
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

Version Packages (#19)
  .changeset/fix-typescript-path-resolution.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: integrate @nextnode/logger and fix lint-staged
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json

feat: add postinstall script with proper logger integration
  package.json
  src/cli/generate-types.ts
  src/lib/config/manager.ts
  src/lib/types/generator.ts
  src/lib/utils/index.ts
  src/lib/utils/logger.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: add Vite and Astro plugins for build-time type generation
  package.json
  pnpm-lock.yaml
  src/lib/index.ts
  src/plugins/astro.ts
  src/plugins/index.ts
  src/plugins/vite.ts
  tsconfig.build.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: update workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: resolve ES module compatibility issue with __filename
  src/lib/types/generator.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: generate types in project root instead of node_modules
  src/lib/types/generator.ts
  src/plugins/vite.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: fixed lintstaged
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: better-sort-package-json

refactor: remove try-catch anti-patterns and cleanup defensive code
  .lintstagedrc.json
  package.json
  src/cli/generate-types.ts
  src/lib/config/loader.ts
  src/lib/config/manager.ts
  src/lib/types/generator.ts
  src/lib/types/index.ts
  src/plugins/vite.ts
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

docs: update documentation to reflect refactoring improvements
  CLAUDE.md
  README.md
Due: biome check --write --no-errors-on-unmatched --staged

chore: add changeset and update workflow configuration
  .changeset/minor-update.md
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

refactor: remove try-catch anti-patterns and cleanup defensive code (#20)
  .changeset/minor-update.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  .lintstagedrc.json
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/cli/generate-types.ts
  src/lib/config/loader.ts
  src/lib/config/manager.ts
  src/lib/index.ts
  src/lib/types/generator.ts
  src/lib/types/index.ts
  src/lib/utils/index.ts
  src/lib/utils/logger.ts
  src/plugins/astro.ts
  src/plugins/index.ts
  src/plugins/vite.ts
  tsconfig.build.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: fixed workflow release.yml
  .github/workflows/release.yml
Due: none

Version Packages (#21)
  .changeset/minor-update.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

chore: add changeset for type generation cache optimization
  .changeset/type-generation-cache-fix.md
Due: biome check --write --no-errors-on-unmatched --staged

fix: optimize type generation cache to prevent unnecessary rebuilds
  src/__tests__/fixtures/configs/generated-types.d.ts
  src/__tests__/integration/type-generation.spec.ts
  src/cli/generate-types.ts
  src/lib/types/generator.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: optimize type generation cache to prevent unnecessary rebuilds (#22)
  .changeset/type-generation-cache-fix.md
  src/__tests__/fixtures/configs/generated-types.d.ts
  src/__tests__/integration/type-generation.spec.ts
  src/cli/generate-types.ts
  src/lib/types/generator.ts
Due: biome check --write --no-errors-on-unmatched --staged

Version Packages (#23)
  .changeset/type-generation-cache-fix.md
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

fix: optimize release workflow configuration
  .github/workflows/release.yml
Due: none

refactor: clean up repository structure and configure coverage output
  CHANGELOG.md
  README_CHANGESETS.md
  src/README.md
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged

chore: add changeset for repository structure cleanup
  .changeset/cleanup-repository-structure.md
Due: biome check --write --no-errors-on-unmatched --staged

chore: remove empty .github-actions directory (#24)
  .changeset/cleanup-repository-structure.md
  .github/workflows/release.yml
  CHANGELOG.md
  README_CHANGESETS.md
  src/README.md
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --staged

fix: update GitHub Actions workflow reference to main branch
  .github/workflows/release.yml
Due: none

fix: configure changeset to use conventional commit format
  .changeset/commit.js
  .changeset/config.json
Due: biome check --write --no-errors-on-unmatched --staged

fix: improve release automation workflow
  .changeset/config.json
  .changeset/fix-release-automation.md
Due: biome check --write --no-errors-on-unmatched --staged

refactor: remove commit.js from changesets config
  .changeset/config.json
Due: none

chore: release v3.1.2 (#25)
  .changeset/cleanup-repository-structure.md
  .changeset/fix-release-automation.md
  .npmrc
  CHANGELOG.md
  package.json
Due: biome check --write --no-errors-on-unmatched --staged, better-sort-package-json

feat: split release workflow into version management and publishing
  .github/workflows/publish-release.yml
  .github/workflows/release.yml
  .github/workflows/version-management.yml
Due: none

feat: implement centralized release workflows architecture
  .github/workflows/publish-release.yml
  .github/workflows/version-management.yml
Due: none
